@import url("https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Caudex", sans-serif;
}

:root {
  --primary-color: #2f5373;
  --secondary-color: #2e608c;
  --accent-color: #f9e9ec;
  --end-color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), transparent),
    url(../public/Waiheke.jpg) center/cover;
  padding: 0.8%;
  position: relative;
}

.banner h1 {
  position: relative;
  font-weight: bolder;
  text-align: center;
  color: var(--secondary-color);
}

.text-box {
  color: #fff;
  position: flex;
  bottom: 30%;
  left: 5%;
}

.text-box p {
  font-size: 3.125rem;
  font-weight: 600;
}

.text-box h1 {
  font-size: 9.4rem;
  line-height: 10rem;
  margin-left: -0.6rem;
  color: transparent;
  -webkit-text-stroke: 1px var(--end-color);
  background: url(../back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 15s linear infinite;
}

@keyframes back {
  100% {
    background-position: 125rem 0;
  }
}

.text-box h3 {
  font-size: 2.5rem;
  font-weight: 500;
}

.text-box .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.875rem;
}

.text-box a {
  color: var(--end-color);
  text-decoration: none;
  padding: 1.25rem 2.5rem;
  margin-right: 1.25rem;
  border: 0.125rem solid var(--end-color);
}

footer {
  background-color: #333;
  color: var(--end-color);
  text-align: center;
  padding: 1.25rem;
}

.nav {
  list-style-type: none;
  display: flex;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  /padding: 0 2rem;
  background-color: var(--primary-color);
  color: var(--textColor);
  width: 100%;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, var(--end-color), var(--accent-color));
  width: 100%;
  padding: 0.625rem;
}

.banner h1 {
  margin: 0;
  text-align: center;
  flex: 1;
}

.banner img {
  width: 9.375rem;
  height: 9.375rem;
}

nav a {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
}

nav a:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 0.3125rem;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--end-color);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 64rem) {
  header .nav-btn {
    visibility: visible;
    opacity: 0.5;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--primary-color);
    transition: 1s;
  }

  header .responsive_nav {
    transform: translateY(100vh);
    z-index: 2;
    opacity: 0.9;
    transition: transform 1s;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}

ul {
  list-style-type: none;
}

.nav li a {
  padding: 1.25rem 2.5rem;
  text-decoration: none;
  font-weight: 800;
  color: var(--accent-color);
  display: inline-block;
}

.nav li a:after {
  content: "";
  display: block;
  height: 0.25rem;
  width: 0;
  background: var(--end-color);
  transition: all 0.5s;
}

.nav li a:hover::after {
  width: 100%;
}

.contact-me {
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 1.25rem;
  background-color: var(--end-color);
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  margin-top: 3.125rem;
}

form {
  display: grid;
  gap: 1.25rem;
}

label {
  display: block;
  margin-bottom: 0.3125rem;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 0.625rem;
  box-sizing: border-box;
  border: 0.0625rem solid var(--accent-color);
  border-radius: 0.3125rem;
}

button {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  padding: 1.25rem 2.5rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
